asgiref==3.8.1
Django==5.2
django_allauth>=65.7.0
itemadapter==0.11.0
psycopg2==2.9.10
psycopg2_binary==2.9.10
Requests==2.32.3
Scrapy==2.12.0
selenium==4.31.0
webdriver_manager==4.0.2
whitenoise
scrapy-selenium==0.0.7
scrapy-user-agents==0.1.1
scrapy-rotating-proxies==0.6.2
pillow==11.1.0
whitenoise==6.9.0
redis==5.2.1
django-celery-results>=2.5.1
django-celery-beat>=2.7.0
PyJWT==2.10.1
