{% extends "user_template.html" %}

{% block title %}
EcomVision
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero-section flex items-center justify-center text-center text-white relative">
    <div class="flex flex-col items-center">
        <h1 class="text-6xl font-bold mb-4 uppercase">
            Compare
            <span class="underline-text">Electornic Items</span>
        </h1>
        <p class="text-xl mb-8">
            Find the best product or service for your needs
        </p>
        <br />
        <br />
        <br />
        <div class="text_sec_btns_hero">
            <a class="bg-[#531889] rounded-full text-white font-semibold pt-[.8rem] pb-[.8rem] pl-[3rem] pr-[3rem] category"
                href="/category">See all categories</a>

            <!--        <form action="/scraper/" method="post" style="width:65%;">-->
            <!--            {% csrf_token %}-->
            <!--            <div class="search-section">-->
            <!--                <div class="search-bar flex justify-evenly" style="width:87%; padding-top: 1%; padding-bottom: 1%;">-->
            <!--                    <input type="text" name="query" placeholder="Search for a comparison..." pattern="\S.*"-->
            <!--                           title="Please begin with a character..." autofocus required>-->
            <!--                </div> &lt;!&ndash; First character can't be space  || 2.  Space can't be first!&ndash;&gt;-->
            <!--                <button type="submit" style="width: 15%;">Search</button>-->
            <!--            </div>-->
            <!--        </form>-->

        </div>
    </div>
    <div class="scroll-down">
        <i class="fas fa-chevron-down text-3xl text-white-50">
        </i>
    </div>
</section>


<!-- Popular Comparisons -->
<section class="py-12 p-[100px]" id="popular-comparisons">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-800 mb-8 pt-[2px]">
            Latest Products
        </h2>
        <div class="product-list">
            {% for product in latest_products %}
              <div class="product-card">
                <img src="{{ product.image_url }}" alt="{{ product.name }}" width="150" />
                <h2>{{ product.name |truncatechars:50 | title }}</h2>
                <p><strong>Price:</strong> {{ product.currency }} {{ product.price }}</p>
                <p><a href="{{ product.url }}" target="_blank">View Product</a></p>
              </div>
            {% endfor %}
        </div>
    </div>

    </div>
</section>

<!-- Text Section -->
<section class="flex flex-col max-w-[60rem] mt-[5rem] mb-[8rem] ml-auto mr-auto relative items-center">
    <h2 class="text-black-50 text-[3rem] font-bold tracking-tight mb-[-3rem] p-0 text-center whitespace-pre-wrap">Your
        Ultimate Guide to Making Smarter Choices Product Analyzer.
    </h2>
    <p class="text-black text-[1.1rem] font-stretch-normal non-italic font-normal tracking-normal  text-center w-[90%]">
        We are a passionate team of unbiased experts, dedicated to simplifying your decisions. No fluff, no bias—just
        clear, data-driven comparisons to help you find the best.
    </p>
    <div class="text_sec_btns items-center flex flex-row justify-between mt-[2.5rem] text-center">
        <a class="bg-[#531889] rounded-full text-white text-[.875rem] font-semibold pt-[.8rem] pb-[.8rem] pl-[2rem] pr-[2rem] no-underline category"
            href="/contactus">Explore with us</a>
        <a class="text-[.875rem] font-semibold text-center no-underline pl-[2rem] flex flex-row items-center"
            href="/aboutus">
            How we work
            <span class="pl-1 pb-[0.5]">→</span>
        </a>
    </div>
</section>

{% endblock %}