{% extends "user_template.html" %}

{% block title %}
EcomVision
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero-section flex items-center justify-center text-center text-white relative">
    <div class="flex flex-col items-center">
        <h1 class="text-6xl font-bold mb-4 uppercase animate__animated animate__fadeInUp animate__faster">
            Compare
            <span class="underline-text">Electronic Items</span>
        </h1>
        <p class="text-xl mb-8 animate__animated animate__fadeInUp animate__faster">
            Find the best product or service for your needs
        </p>
        <br/>
        <br/>
        <br/>
        <div class="text_sec_btns_hero animate__animated animate__fadeInUp animate__faster">
            <a class="inline-block bg-gradient-to-r from-indigo-600 to-purple-600 text-white px-8 py-3 rounded-full hover:from-indigo-700 hover:to-purple-700 transition-all duration-300 shadow-lg hover:shadow-xl"
                href="/category">See all categories</a>
        </div>
    </div>
    <div class="scroll-down animate__animated animate__fadeInUp  animate__faster">
        <i class="fas fa-chevron-down text-3xl text-white-50"></i>
    </div>
</section>


<!-- Popular Comparisons -->
<section class="py-12 p-[100px]" id="popular-comparisons">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-800 mb-8 pt-[2px]">
            Latest Products
        </h2>
        <div class="product-list">
            {% for product in latest_products %}
              <div class="product-card">
                <img src="{{ product.image_url }}" alt="{{ product.name }}" width="150" />
                <h2>{{ product.name |truncatechars:50 | title }}</h2>
                <p><strong>Price:</strong> {{ product.currency }} {{ product.price }}</p>
                <p>
                    <a href="{% url 'product-detail-page' product.category_id product.product_id %}" 
                       class="inline-block bg-gradient-to-r from-indigo-600 to-purple-600 text-white px-6 py-2 rounded-full hover:from-indigo-700 hover:to-purple-700 transition-all duration-300 shadow-lg hover:shadow-xl">
                        View Product
                    </a>
                </p>
              </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Text Section -->
<section class="flex flex-col max-w-[60rem] mt-[5rem] mb-[8rem] ml-auto mr-auto relative items-center">
    <h2 class="text-black-50 text-[3rem] font-bold tracking-tight mb-[-3rem] p-0 text-center whitespace-pre-wrap">Your Ultimate Guide to Making Smarter Choices EcomVision.
    </h2>
    <p class="text-black text-[1.1rem] font-stretch-normal non-italic font-normal tracking-normal  text-center w-[90%]">
        We are a passionate team of unbiased experts, dedicated to simplifying your decisions. No fluff, no bias—just
        clear, data-driven comparisons to help you find the best.
    </p>
    <div class="text_sec_btns items-center flex flex-row justify-between mt-[2.5rem] text-center">
        <a class="inline-block bg-gradient-to-r from-indigo-600 to-purple-600 text-white px-6 py-2 rounded-full hover:from-indigo-700 hover:to-purple-700 transition-all duration-300 shadow-lg hover:shadow-xl"
            href="/contactus">Explore with us</a>
        <a class="text-[.875rem] font-semibold text-center no-underline pl-[2rem] flex flex-row items-center"
            href="/aboutus">
            How we work
            <span class="pl-1 pb-[0.5]">→</span>
        </a>
    </div>
</section>

{% endblock %}