{% extends "user_template.html" %}

{% block title %}
EcomVision | Category
{% endblock %}

{% block content %}

{% load static %}

<section class="category-hero-section flex-col flex items-center justify-center text-center text-white relative">
    <br/>
    <br/>
    <h1 class="text-6xl font-bold uppercase" style="color: white;">
        Profile
    </h1>
    <br/>
    <br/>
    <br/>
    {% if messages %}
    {% for data in messages %}
    <div class="alert alert-{% if data.tags %}{{ data.tags }}{% endif %}">
        {{ data }}
    </div>
    {% endfor %}
    {% endif %}
<meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
</section>

<div class="col-md-9 w-100" style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 2% 0;">
    <div class="card w-[60%]">
        <div class="card-header p-2">
            <ul class="nav nav-pills" style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <li class="nav-item"><a class="nav-link active" href="#profile" data-toggle="tab">Profile</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Track Price</a></li> -->
                <li class="nav-item"><a class="nav-link" href="#history" data-toggle="tab">Tracking History</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="#edit" data-toggle="tab">Change Password</a></li>     -->
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="profile">
                    <div style="display: flex; flex-direction: column;">
                        <h1 style="text-align: center; font-size: 22px;"><strong>Welcome, {{ user_data.user_name }}!</strong></h1>
                        <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <form id="user-form" method="POST" action="/profile/" style="width: 80%;">
                                {% csrf_token %}
                                <div class="form-group row w-100">
                                    <label for="inputName" class="col-sm-2 col-form-label" style="width: 10%;">Name</label>
                                    <div class="col-sm-10" style="width: 90%;">
                                        <input class="form-control" id="inputName" name="name" placeholder="Name" type="text" value="{{ user_data.user_name }}" readonly required>
                                    </div>
                                </div>

                                <div class="form-group row w-100">
                                    <label for="inputEmail" class="col-sm-2 col-form-label" style="width: 10%;">Email</label>
                                    <div class="col-sm-10" style="width: 90%;">
                                        <input class="form-control" id="inputEmail" name="email" placeholder="Email" type="email" value="{{ user_data.user_email }}" readonly required>
                                    </div>
                                </div>

                                <div class="form-group" style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; margin-top: 15px;">
                                    <button type="button" class="btn btn-danger" id="editBtn" onclick="toggleEdit()">EDIT</button>
                                    <button type="submit" class="btn btn-success d-none" id="saveBtn">SAVE</button>
                                    <button type="button" class="btn btn-secondary d-none" id="cancelBtn" onclick="cancelEdit()">CANCEL</button>
                                </div>
                            </form>
                        </div>
                        <script>
                        function toggleEdit() {
                            document.getElementById("inputName").removeAttribute("readonly");
                            document.getElementById("inputEmail").removeAttribute("readonly");

                            document.getElementById("editBtn").classList.add("d-none");
                            document.getElementById("saveBtn").classList.remove("d-none");
                            document.getElementById("cancelBtn").classList.remove("d-none");
                        }

                        function cancelEdit() {
                            location.reload();  // Refresh page to discard changes
                        }
                        </script>
                    </div>
                </div>
                <div class=" tab-pane" id="history">
                    {% if price_track_details %}
                    
                    <!-- user history content goes here -->
                    <table class="min-w-full text-sm text-gray-800">
                        <thead class="bg-gray-100 text-gray-700 uppercase text-xs text-center">
                            <tr>
                                <th class="px-6 py-3 ">Product Name</th>
                                <th class="px-6 py-3 ">Desired Price</th>
                                <th class="px-6 py-3 ">Current Price</th>
                                <th class="px-6 py-3 ">Tracking Status</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 text-center">
                            {% for data in price_track_details %}
                            <tr>
                                <td class="px-6 py-4">
                                    {{ data.product_id.product_name }}
                                </td>
                                <td class="px-6 py-4">
                                    ₹{{ data.desired_price }}
                                </td>
                                <td class="px-6 py-4">
                                    ₹{{ data.last_price }}
                                </td>
                                <td class="px-6 py-4">
                                    <span class="inline-block px-2 py-1 text-xs font-semibold rounded 
                                {% if data.tracking_status == '1' %}
                                  bg-green-100 text-green-800
                                {% elif data.tracking_status == '2' %}
                                  bg-blue-100 text-blue-800
                                {% else %}
                                  bg-gray-200 text-gray-800
                                {% endif %}
                              ">
                                        {{ data.get_tracking_status_display }}
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p style="text-align: center;">There is no Price Tracking History for your account.</p>
                    {% endif %}
                </div>


            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
            <!-- AdminLTE App -->
            <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1.0/dist/js/adminlte.min.js"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1.0/dist/js/demo.js"></script>
            </div>
        </div>
    </div>
</div>
</div>



<script>
    function toggleEdit() {
        document.getElementById("inputName").removeAttribute("readonly");
        document.getElementById("inputEmail").removeAttribute("readonly");

        document.getElementById("editBtn").classList.add("d-none");
        document.getElementById("saveBtn").classList.remove("d-none");
        document.getElementById("cancelBtn").classList.remove("d-none");
    }

    function cancelEdit() {
        location.reload();  // Refresh page to discard changes
    }
</script>
{% endblock %}